img
{
    animation: up-down 2s infinite ease-in-out;
}

label b{
   color: var(--red);
}

@keyframes up-down {
 0%
 {
    transform: translateY(0);
 }   
 50%
 {
    transform: translateY(-18px);
 }  
}
