*{
   margin:0%;
   padding: 0%;
}

img
{
    animation: up-down 2s infinite ease-in-out;
}

label b{
   color: var(--red);
}

input{
   color: var(--red);
}

.title h2{
   color: var(--red);
}

hr.line{
   width: 40%;
   color: var(--red);
   border: 2px solid var(--red);
   text-align: center;
   margin: auto;
}

.b{
   color: var(--red);
   border: 2px solid var(--red);
   font-weight: bold;
   outline: var(--red);
}

.b:hover{
   color: var(--white);
   background-color: var(--red);
   font-weight: bold;
   outline: var(--red);
}

.note h5{
   color: var(--red);
}


@keyframes up-down {
 0%
 {
    transform: translateY(0);
 }   
 50%
 {
    transform: translateY(-18px);
 }  
}

