*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: var(--white);
    color: var(--red);
}
.display-1
{
    color: var(--red);
    font-weight: 520;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img
{
    margin-top: 4rem;
    animation: up-down 2s infinite ease-in-out;
}

@keyframes up-down {
    0%
    {
       transform: translateY(0);
    }   
    50%
    {
       transform: translateY(-18px);
    }  
   }
.title u{
    color: var(--red);
}

.question h3{
    color: var(--red);
}

.f{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 3rem;
    margin: 2rem 0rem;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--red);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.8rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    border-radius:10px;
}

.answer p{
    border-radius:10px;
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    background-color: var(--red);
    color: var(--light);
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 0.6s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
