.display-4
{
    font-weight: 600;
}

.link-btn
{
    font-size:1.15rem;
    font-weight:bold;
    color:var(--red);
    padding:0.6rem 1.5rem 0.6rem 1.5rem;
    border:0.15rem solid var(--red);
    border-radius:4rem;
}

.link-btn:hover
{
    transition: all 0.6s;
    color: var(--white);
    background-color: var(--red);
    transform: translateY(-8px);

}

.carousel
{
    margin-top:4.5rem;
}

.cause
{
    color:var(--red);
    font-weight:510;
}

.fa-angle-down
{
    font-size:2.5rem;
    color:var(--red);
    animation: up-down 2s infinite ease-in-out;
}

@keyframes up-down {
 0%
 {
    transform: translateY(0);
 }   
 50%
 {
    transform: translateY(-20px);
 }  
}

.find
{
    color: var(--red);
    font-weight:520
}

.find i
{
    color: var(--red);
    font-weight:520;
}

@media screen and (max-width: 768px) {
    .row-1
    {   
        display: flex;
        flex-flow: column-reverse;
    }
}