*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
.bg{
    background-color: var(--light);
}

.right
{
    margin-left: -0.7rem;
}

.title h1{
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:bold
}

.input{
    margin: 20px auto;
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.input input{
    border: 2px solid var(--red);
    border-radius: 5px;
    text-align: center;
}



.btn-lg
{
    background-color: var(--red);
    border-radius: 20px;
    color: var(--white);
    font-weight: bold;
    width:70%
}

.btn-lg:hover
{
    background-color: #e92852;
    color: var(--white);
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}


@media only screen and (max-width:768px) {
    .mobile
    {
        display: none;
    }

    .glg button {
        width:100%
    }

    .right
    {
        margin-left: 0;
    }
}
