:root {
  --red:   #e6547f;
  --white: #ffffff;
  --black: #2f3542; 
}

*
{
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
    color:var(--black);
}

html, body
{
    margin: 0;
    overflow-x: hidden;
}

.navbar
{
    background-color:var(--red);
}

.brand-name
{
    color:var(--white);
    font-weight: bold;
}
.nav-item
{
    padding-right: 0.5rem;
}
.nav-link
{
    font-size:1.2rem;
    font-weight:520;
}

.sign-up
{
    padding:0.6rem 2.2rem 0.6rem 2.2rem;
    border:0.1rem solid white;
    border-radius: 5rem;
    color: var(--white);
    font-weight: 520;
}

.sign-up:hover
{
    color: var(--white);
    transform: scale(1.06);
    transition: all 0.5s;
}

.sign-in
{
    background-color:var(--white);
    border-radius: 5rem;
    padding:0.6rem 2.2rem 0.6rem 2.2rem;
    color:var(--red);
    font-weight:520;
}

.sign-in:hover
{
    color:var(--red);
    transform: scale(1.06);
    transition: all 0.5s;
}
.toggle-btn{
  width: 30px;
  height: 3px;
  background-color: var(--white);
  margin: 6px 0;
  border-radius: 2px;
}
