:mains{
   --red:   #e6547f;
  --white: #ffffff;
  --black: #2f3542;
  --light:#f7f7f7;
--light-red:rgb(248, 237, 237);
--light-green:rgb(238, 252, 231);
}

.first {
text-align:center;

font-size:48px;
font-weight:bold;
background-color:var(--white);
color:var(--red);}


html, body
{
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

.h2{
color:var(--white);
}

.button-1{
color:var(--red);

border-radius:5rem;
border:none;
position:absolute;
top:10px;
right:10px;


}
.button-1-link{
color:var(--red);
text-decoration:none;}

.button-1-link:hover{
color:var(--white);}



.button-1:hover
{
background-color:var(--red);
color:var(--white);
border:none;
transform: scale(1.06);
transition: all 0.5s;
border-radius:5rem;
}

.general-headings{
color:var(--red);
text-align:center;
font-size:34;
font-weight:bold;

}
.pre-headings
{
text-align:center;
font-size:25px;
}
.general-texts{
font-size:13px;
font-weight:normal;}

.button-2
{
text-align:center;
background-color:var(--white);
color:var(--red);
border-color:var(--red);
border-radius:12px;
font-weight:bold;}

.button-2:hover
{
background-color:var(--red);
color:var(--white);
border-color:var(--white);
border-radius:12px;
transform: scale(1.06);
transition: all 0.5s;}

.main-button
{text-align:center;}
.h1
{color:var(--red);}

.general-texts
{font-size:20px;}

.length{
font-size:24px;
position:relative;
}

.images
{height:250px;
width:250px;}

.main-heading{
text-align:center;
color:var(--red);
font-weight:bold;
font-size:48px;}

.side-headings{
color:var(--red);
text-align:left;
font-size:30;
font-weight:bold;

}
